@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  html {
    @apply bg-slate-950;
  }

  body {
    @apply bg-slate-950 text-slate-100;
  }

  html[dir="ltr"] body {
    @apply font-tajawal;
  }

  html[dir="rtl"] body {
    @apply font-cairo;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-cairo;
  }
}

@layer utilities {
  .bg-tech-pattern {
    background-image: linear-gradient(#0056b3 1px, transparent 1px), linear-gradient(90deg, #0056b3 1px, transparent 1px);
    background-size: 30px 30px;
    opacity: 0.03;
  }
}
